:root{
    --black: #161616;
    --white: #ececec;
    --red: #ef5350;
    --blue: #001FFF;
    --yellow: #ffdf00;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    background-color: var(--black);
}

section{
    margin-top: 125px;
}

a{
    text-decoration: none;
    color: var(--blue);
    display: block;
    border: 5px solid var(--blue);
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
}

::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}




/* ///////////////////////
///////BUTTON ONE */

.buttonOne::before{
    background-color: var(--yellow);
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
}

.buttonOne:hover::before{
    transform: rotate(0deg);
}

/* ///////////////////////
///////BUTTON TWO */

.buttonTwo{
    transition: all 1s;
}

.buttonTwo::before{
    height: 100%;
    width: 100%;
    background-color: var(--blue);
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s;
}

.buttonTwo:hover{
    color: var(--yellow);
}

.buttonTwo:hover::before{
    transform: translateX(0);
}

/* ///////////////////////
///////BUTTON THREE */

.buttonThree{
    transition: 1s;
}

.buttonThree::before{
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    transition: 1s;
    transform: rotateX(90deg);
    z-index: -1;
}

.buttonThree:hover{
    color: var(--yellow);
}

.buttonThree:hover::before{
    transform: rotateX(0deg);
}

.buttonThree::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    transition: 1s;
    transform: rotateY(90deg);
    z-index: -1;
}

.buttonThree:hover::after{
    transform: rotateY(0deg);
}

